PROJECT: Pulling Data From SQL Database Using Python

TASKS:
1. Establish a connection with the SQL Server.
2. Explore the following two methods in fetching the SQL data:
    a. Write a typical python program to print the data.
    b. Read the data into a pandas dataframe.

In [1]:
import pyodbc #python library or module which make accessing ODBC databases simple.
import pandas as pd #library for reading data into a dataframe, and for performing data manipulation and analysis.

In [2]:
pyodbc.drivers() #shows the various pyodbc drivers which can be used to establish connection to the SQL server

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

TASK 1: Establish a connection with the SQL Server

In [3]:
conn = pyodbc.connect(DRIVER='{ODBC Driver 17 for SQL Server}', SERVER='DESKTOP-OOMGB8B\SQLEXPRESS', DATABASE='leetcode_problems', Trusted_Connection='Yes')
#assigned the connection to the variable "conn".

TASK 2a: Write a python program to fetch the required data from the SQL database

In [4]:
cursor = conn.cursor() #creates an object "cursor" which can be used to execute SQL queries and fetch the result of the queries.

In [5]:
query = 'SELECT * FROM Employee' #assigns the SQL query to the variable 'query'.
cursor.execute(query) #executes the query

In [6]:
data = cursor.fetchall() #fetchall for all the rows in the data. use fetchone for one row.

In [7]:
for row in data:
    print(row) #loops through the records fetched by the query and prints the rows.

(101, 'John', 'A', None)
(102, 'Dan', 'A', 101)
(103, 'James', 'A', 101)
(104, 'Amy', 'A', 101)
(105, 'Anne', 'A', 101)
(106, 'Ron', 'B', 101)

Task 2b: Read data from SQL into pandas DataFrame

In [8]:
df = pd.read_sql(sql=query, con=conn) #asigns the DataFrame to the variable 'df'.

C:\Users\HP\AppData\Local\Temp\ipykernel_8164\460919906.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query, con=conn) #asigns the DataFrame to the variable 'df'.

In [9]:
df

    id   name department  managerId
0  101   John          A        NaN
1  102    Dan          A      101.0
2  103  James          A      101.0
3  104    Amy          A      101.0
4  105   Anne          A      101.0
5  106    Ron          B      101.0

The DataFrame can then be used in exploratory data analysis, data visualization or machine learning model developments.